body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    font-size: 32px;
    text-align: center;
    line-height: 100px;

    position: relative;
    top: -32px;

    color: #FFF;
    background: rgba(99, 99, 99, 0.397);
    
    z-index: 1;
}

.ghost {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 0;
    background-image: url(/imgs/ghost.png);
    background-size: 80px, 80px;
}

.pumpkins {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 0;
    background-image: url(/imgs/pumpkin.png);
    background-size: 80px, 80px;
}

.game-over {
    text-align: center;
    color: #000;
}

@keyframes slideright {
    from {
        background-position: 0;
    }

    to {
        background-position: 70000%;
    }
}

.background {
    position: absolute;
    bottom: 0;
    background-image: url(/imgs/bgk.png);
    background-repeat: repeat-x;
    background-size: 105%;
    animation: slideright 300s infinite linear;
    width: 100%;
    height: 100%;
}